@inherits RocketCatalog.Components.RocketCatalogTokens<Simplisity.SimplisityRazor>
@using RocketCatalog.Components;
@using DNNrocketAPI.Components;

<div id="catalog-mapview-tag" class="catalog-mapview-container">

    @{
        var portalCatalog = (PortalCatalogLimpet)Model.GetDataObject("portalcatalog");

        if (portalCatalog.DebugMode)
        {
            <div class="w3-small">@DateTime.Now.ToString()</div>
        }

        var appTheme = (AppThemeLimpet)Model.GetDataObject("apptheme");
        var articleData = (ArticleLimpet)Model.GetDataObject("articledata");
        if (articleData != null)
        {
            var appThemeDefault = new AppThemeLimpet(articleData.PortalId, "rocketcatalog.BusinessDirectory", "1.0", appTheme.Organisation);
            @RenderTemplate("ArticleDetail.cshtml", appThemeDefault, Model, true)
        }
        else
        {
            <div class="w3-row">
                @RenderTemplate("SearchBanner.cshtml", appTheme, Model, true)
            </div>

            @RenderTemplate("ArticleMap.cshtml", appTheme, Model, true)
        }
    }
</div>
<div class="w3-overlay simplisity_loader" style="z-index:999;"></div>
